<!DOCTYPE html>
<html>
<head>
  <title>Meal Buddy - <%= @title %></title>
  <%= stylesheet_link_tag "reset", "scaffold", "main" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="main-wrap">

    <header class="main-header">
      <h1>Meal <span>Buddy</span></h1>
      <ul class="main-nav">
        <li><%= link_to 'Home', root_path, :class => is_active?("index") %></li>
        <li><%= link_to "Diets", diets_path, :class => is_active?("diets") %></li>
        <li><%= link_to "About", about_path, :class => is_active?("about") %></li>
        <li><%= link_to "Contact", contact_path, :class => is_active?("contact") %></li>
        <li><%= link_to "Sign up now!", signup_path, :class => "signup_button round" %></li>
      </ul>
    </header>